/**
 * @author wangxiao
 * 
 * 每位工程师都有保持代码优雅的义务
 * each engineer has a duty to keep the code elegant
 */

@mixin wd-image($name) {
    display: inline-block;
    background: url('../images/' + $name) no-repeat 50% 50%;
    width: image-width($name);
    height: image-height($name);
}
