/* 基础色 */
$standard-black: #000000;
$standard-light-black: #393B3F;
$standard-white: #ffffff;
$standard-blue: #0A5ECC;
$standard-light-blue: #E0F7FF;
$standard-deep-blue: #1C5095;
$standard-orange: #FE7325;
$standard-gray: #ebebeb;
$standard-deep-gray: #aaa;
$standard-red: #ed7161;
$standard-deep-orange: #faaf46;
$standard-blue-green: #74aac5;
$standard-green: #22c064;

$page-width: 80%;
$min-page-width: 960px; 

/* z-index */
$top-index: 200;

* {
    margin: 0px;
    padding: 0px;
}

body {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    font-family: 'Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif;
    .wd-view {
        min-height: 100%;
    }
}

a {
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: $standard-blue;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
    &.btn:hover {
        text-decoration: none;
    }
}

p {
    font-size: 13px;
}

input[type=text], input[type=password] {
    display: inline-block;
    padding: 8px 10px;
    border: 1px solid $standard-deep-gray;
    font-size: 15px;
    color: $standard-black;
    vertical-align: baseline;
    &.error {
        @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483);
        border: 2px solid $standard-red;
        outline:none;
    }
}

input[type=file].error {
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483);
    border: 2px solid $standard-red;
    outline:none;
    color: $standard-red;
}

input[type=radio], input[type=checkbox] {
    cursor: pointer;
    vertical-align: text-top;
}

ul {
    list-style-type: none;
}

select {
    font-size: 20px;
}

.btn {
    display: inline-block;
    background-color: $standard-blue;
    color: $standard-white;
    padding: 8px 14px;
    cursor: pointer;
    line-height: 20px;
    font-size: 14px;
    height: 20px;
    text-align: center;
    vertical-align: top;
    @include transition(opacity, 0.4s);
    &:hover {
        @include opacity(0.8);
    }
    &:active {
        @include opacity(1);
    }
}

.strong {
    color: $standard-red;
}

.error {
    color: $standard-red;
}

.hide {
    @include opacity(0);
    height: 0px;
    margin: 0px;
}