/**
 * @author wangxiao
 * 
 * 每位工程师都有保持代码优雅的义务
 * Each engineer has a duty to keep the code elegant
 */

.wd-body {
    position: relative;
    padding: 0px 15px;
    max-width: 400px;
    min-width: 290px;
    margin: 0px auto;
}
