.wd-footer {
    margin: 0 auto -25px auto;
    min-width: $min-page-width;
    height: 270px;
    background-color: $standard-black;
    color: $standard-white;
    p, a {
        color: #7E8BA0;
        &.title {
            font-size: 18px;
            margin-bottom: 10px;
            color: $standard-white;
        }
    }
    .block {
        width: 150px;
        p, a {
            display: block;
            width: 100%;
        }
    }
    .left {
        position: absolute;
        top: 40px;
        left: 40px;
        .block {
            float: left;
        }
    }
    .right {
        position: absolute;
        top: 40px;
        right: 40px;
        text-align: center;
        .title {
            font-size: 20px;
            .icon-phone {
                @include wd-image('icon-phone.png');
                margin-bottom: -8px;
                margin-right: 4px;
            }
        }
    }
    .bottom-tips {
        border-top: 1px solid #333;
        position: absolute;
        bottom: 0px;
        padding: 5px 20px 10px 20px;
    }
    .online-btn {
        width: 170px;
        margin-top: 10px;
        line-height: 40px;
        height: 40px;
        border-radius: 3px;
        color: $standard-white;
        font-size: 20px;
        .icon-sms {
            @include wd-image('icon-sms.png');
            margin-right: 10px;
        }
    }
}
