.wd-footer {
    position: relative;
    margin: 0 auto;
    width: $page-width;
    min-width: $min-page-width;
    height: 270px;
    background-color: $standard-black;
    color: $standard-white;
    p, a {
        color: #7E8BA0;
        &.title {
            font-size: 18px;
            margin-bottom: 10px;
            color: $standard-white;
        }
    }
    .block {
        width: 150px;
        p, a {
            display: block;
            width: 100%;
        }
    }
    .left {
        position: absolute;
        top: 40px;
        left: 40px;
        .block {
            float: left;
        }
    }
    .right {
        position: absolute;
        top: 40px;
        right: 40px;
        text-align: center;
    }
    .bottom-tips {
        border-top: 1px solid #333;
        position: absolute;
        bottom: 0px;
        padding: 15px 20px 10px 20px;
    }
}
