/**
 * @author wangxiao
 * 
 * 每位工程师都有保持代码优雅的义务
 * Each engineer has a duty to keep the code elegant
 */

.wd-header {
    background-color: $standard-black;
    padding-top: 10px;
    padding-left: 15px;
    .logo {
        @include wd-image('logo.png');
        width: 170px;
    }
}
