.wd-check-info {
    min-height: 1300px;
    .body {
        .body-content {
            .item {
                margin: 5px 0px;
                .item-title {
                    width: 140px;
                    display: inline-block;
                }
                .item-content {
                    width: 400px;
                    display: inline-block;
                }
            }
        }
        .confirm {
            margin-right: 5px;
        }
        .submit-btn {
            margin-top: 30px;
            margin-left: 150px;
            width: 80px;
        }
        .hr {
            height: 1px;
            margin: 20px -5px;
            background-color: $standard-deep-gray;
        }
    }
}