.wd-experience {
    min-height: 840px;
    .body {
        .body-content {
            width: 660px;
            .title {
                font-size: 30px;
                margin-bottom: 20px;
                margin-top: 20px;
            }
            .item {
                font-size: 14px;
                margin-bottom: 10px;
                .item-title {
                    width: 100px;
                    display: inline-block;
                }
            }
            input[type=radio] {
                margin-left: 20px;
                margin-right: 5px;
            }
        }
    }
}