.wd-finish-register {
    .body {
        .body-content {
            p {
                margin-bottom: 30px;
                font-size: 18px;
            }
            .btns {
                .btn {
                    width: 90px;
                    margin: 0px 5px;
                }
            }
        }
    }
}