/**
 * @author wangxiao
 * 
 * 每位工程师都有保持代码优雅的义务
 * Each engineer has a duty to keep the code elegant
 */

.wd-account-login {
    text-align: center;
    height: 100%;
    background-color: $standard-black;
    .header {
        padding-top: 40px;
        margin-bottom: 20px;
        .logo {
            @include wd-image('logo.png');
        }
    }
    .form {
        height: 220px;
        position: relative;
        .btns {
            text-align: left;
            margin-top: 20px;
            width: 88%;
            padding: 0px 15px;
            .login-btn {
                width: 48%;
                float: left;
            }
            .register-btn {
                margin-left: 10px;
                float: right;
                width: 26%;
                background-color: $standard-orange;
            }
        }
        .error {
            text-align: left;
        }
        .loading {
            top: 30%;
        }
    }
    .footer {
        margin-top: 30px;
        color: $standard-white;
    }
}
