/**
 * @author wangxiao
 * 
 * 每位工程师都有保持代码优雅的义务
 * Each engineer has a duty to keep the code elegant
 */

.wd-account-login {
    text-align: center;
    height: 100%;
    background-color: $standard-black;
    .header {
        padding-top: 40px;
        margin-bottom: 20px;
        .logo {
            @include wd-image('logo.png');
        }
    }
    .form {
        .btns {
            margin-top: 20px;
            .login-btn {
                width: 50%;
            }
            .register-btn {
                width: 26%;
                background-color: $standard-orange;
            }
        }
    }
    .footer {
        margin-top: 30px;
        color: $standard-white;
    }
}
