/**
 * @author wangxiao
 * 
 * 每位工程师都有保持代码优雅的义务
 * Each engineer has a duty to keep the code elegant
 */

.wd-account-login {
    min-width: $min-page-width;
    position: relative;
    .wd-wrapper {
        top: -670px;
    }
    .banner {
        @include wd-image('login-banner.jpg');
        width: 100%;
        margin-bottom: -7px;
    }
    .login-form {
        height: 238px;
        width: 303px;
        background-color: $standard-white;
        position: absolute;
        top: 140px;
        right: 5%;
        padding: 30px 32px 25px 27px;
        border-radius: 2px;
        @include box-shadow(0px 1px 3px #c8c8c8);
        input {
            border: 1px solid #dcdcdc;
            width: 280px;
            padding: 11px 10px;
        }
        .title {
            font-size: 18px;
        }
        .item {
            margin-bottom: 16px;
        }
        .login-btn {
            width: 168px;
            padding: 10px 14px;
        }
        .register-btn {
            width: 73px;
            padding: 10px 14px;
            background-color: $standard-orange;
        }
    }
}
