.wd-account-register {
    .h2-title {
        margin-top: 5px;
        line-height: 40px;
        height: 40px;
        p {
            font-size: 18px;
        }
    }
    .form {
        .auth-code-input {
            display: inline-block;
            width: 45%;
        }
        .auth-code-btn {
            width: 30%;
            min-width: 80px;
            height: 30px;
            margin-top: 5px;
            line-height: 30px;
            p {
                font-size: 16px;
            }
        }
        .register-btn {
            margin-top: 5px;
            margin-left: 1px;
            width: 89%;
        }
        .ask {
            margin-top: 10px;
            padding-left: 5px;
            p {
                display: inline;
            }
        }
    }
    .success {
        padding-top: 30px;
        text-align: center;
        .title {
            font-weight: bold;
            font-size: 25px;
            margin-bottom: 20px;
        }
        p {
            font-size: 16px;
        }
        .btn {
            width: 88%;
            margin: 20px 0px;
        }
    }
}
