.wd-risk {
    min-height: 600px;
    .body {
        .body-content {
            .title {
                font-size: 25px;
            }
            .item {
                font-size: 15px;
                margin: 20px 0px 30px 0px;
                input[type=radio] {
                    margin-left: 40px;
                    margin-right: 5px;
                }
                .item-title {
                    margin-bottom: 10px;
                }
            }
        }
    }
}