.wd-trading-range {
    min-height: 800px;
    .body {
        .body-content {
            .kinds {
                .title {
                    display: inline-block;
                    font-size: 18px;
                    margin-right: 40px;
                }
                input[type=radio] {
                    margin-left: 20px;
                    margin-right: 5px;
                }
                .tip {
                    font-size: 13px;
                }
            }
            .protocol {
                width: 570px;
                height: 350px;
                margin: 20px 0px 10px 0px;
                border: 1px solid $standard-deep-gray;
                background-color: $standard-gray;
            }
            .ask {
                font-size: 13px;
                a {
                    font-size: 13px;
                }
                input[type=checkbox] {
                    margin-right: 5px;
                }
            }
        }
    }
}