/**
 * @author wangxiao
 * 
 * 每位工程师都有保持代码优雅的义务
 * Each engineer has the duty to keep the code elegant
 */

.wd-my-money {
    .item {
        margin-bottom: 10px;
    } 
    .submit-btn {
        margin-left: 136px;
        width: 154px;
    }
    .success-tip {
        font-size: 20px;
    }
}
