/**
 * @author wangxiao
 * 
 * 每位工程师都有保持代码优雅的义务
 * Each engineer has the duty to keep the code elegant
 */

.wd-my-change-password {
    .wd-my-body {
        .item {
            .title {
                width: 90px;
                padding-left: 20px;
            }
            .error {
                margin: 0px 0px 0px 10px;
            }
        }
        .change-password-btn {
            width: 155px;
            margin-top: 10px;
            margin-left: 115px;
        }
        .code-input {
            width: 70px;
        }
        .auth-code-btn {
            width: 75px;
            margin-top: 5px;
            padding: 0px 10px;
            height: 29px;
            line-height: 29px;
            p {
                margin: 0px;
            }
        }
    }
}
