/**
 * @author wangxiao
 * 
 * 每位工程师都有保持代码优雅的义务
 * Each engineer has a duty to keep the code elegant
 */

.wd-my-index {
    padding-top: 30px;
    .btn {
        margin-top: 10px;
        width: 88%;
    }
    .item {
        margin-bottom: 5px;
        p {
            font-size: 16px;
            .title {
                font-weight: bold;
            }
        }
        .logout-btn {
            color: $standard-blue;
            cursor: pointer;
            float: right;
            margin-right: 20px;
        }
    }
}
