.wd-my-change-password {
    .wd-my-body {
        .item {
            .title {
                width: 90px;
                padding-left: 20px;
            }
        }
        .change-password-btn {
            width: 155px;
            margin-top: 10px;
            margin-left: 115px;
        }
        .code-input {
            width: 70px;
        }
        .auth-code-btn {
            margin-top: 5px;
            padding: 0px 10px;
            height: 29px;
            line-height: 29px;
            p {
                margin: 0px;
            }
        }
    }
}
