.wd-about-body {
    margin-left: 230px;
    padding: 0px 30px 50px 30px;
    .h2-title {
        font-size: 25px;
        padding-bottom: 5px;
        border-bottom: 3px solid $standard-gray;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    p {
        margin: 10px 0px;
        font-size: 15px;
    }
    table {
        margin-bottom: 50px;
    }
    .logo {
        @include wd-image('logo.png');
        background-color: $standard-black;
    }
}
