<div wd-header></div>
<div wd-footer></div>
<div class="wd-register-box wd-check-info">
    <div class="header">
        <p>
            <span class="title">资料确认</span>
            <span class="des">请仔细确认您所录入的资料是否正确</span>
        </p>
    </div>
    <div class="body">
        <div class="body-content">
            <div class="item">
                <p class="item-title">手机号码</p>
                <p class="item-content">13332338073</p>
                <a href="">修改</a>
            </div>
            <div class="item">
                <p class="item-title">登录密码</p>
                <p class="item-content">******</p>
                <a href="">修改</a>
            </div>
            <div class="item">
                <p class="item-title">电子邮箱</p>
                <p class="item-content">w@atom.trade</p>
                <a href="">修改</a>
            </div>
            <div class="item">
                <p class="item-title">邀请码</p>
                <p class="item-content">AFCSS</p>
                <a href="">修改</a>
            </div>
            <div class="hr"></div>
            <div class="item">
                <p class="item-title">真实姓名</p>
                <p class="item-content">王潇</p>
                <a href="">修改</a>
            </div>
            <div class="item">
                <p class="item-title">身份证号</p>
                <p class="item-content">12312312312313212</p>
                <a href="">修改</a>
            </div>
            <div class="item">
                <p class="item-title">签发机构</p>
                <p class="item-content">多撒飞洒发法萨芬</p>
                <a href="">修改</a>
            </div>
            <div class="hr"></div>
            <div class="item">
                <p class="item-title">就业情况</p>
                <p class="item-content">在职</p>
                <a href="">修改</a>
            </div>
            <div class="item">
                <p class="item-title">单位电话</p>
                <p class="item-content">010-123123123</p>
                <a href="">修改</a>
            </div>
            <div class="item">
                <p class="item-title">单位地址</p>
                <p class="item-content">爱发牢骚的减肥拉开了电风扇</p>
                <a href="">修改</a>
            </div>
            <div class="item">
                <p class="item-title">常住地址</p>
                <p class="item-content">爱发牢骚的减肥拉开了电风扇</p>
                <a href="">修改</a>
            </div>
            <div class="item">
                <p class="item-title">通讯地址</p>
                <p class="item-content">爱发牢骚的减肥拉开了电风扇</p>
                <a href="">修改</a>
            </div>
            <div class="hr"></div>
            <div class="item">
                <p class="item-title">账户类型</p>
                <p class="item-content">证券（包含衍生品）、期货</p>
                <a href="">修改</a>
            </div>
            <div class="hr"></div>
            <div class="item">
                <p class="item-title">全年收入</p>
                <p class="item-content">20 - 50 万</p>
                <a href="">修改</a>
            </div>
            <div class="item">
                <p class="item-title">总资产净值</p>
                <p class="item-content">100 万</p>
                <a href="">修改</a>
            </div>
            <div class="item">
                <p class="item-title">投资知识</p>
                <p class="item-content">良好</p>
                <a href="">修改</a>
            </div>
            <div class="item">
                <p class="item-title">投资目标</p>
                <p class="item-content">增值</p>
                <a href="">修改</a>
            </div>
            <div class="item">
                <p class="item-title">月度交易频次</p>
                <p class="item-content">0 - 5 次</p>
                <a href="">修改</a>
            </div>
            <div class="item">
                <p class="item-title">风险承受能力</p>
                <p class="item-content">中</p>
                <a href="">修改</a>
            </div>
            <div class="hr"></div>
            <div class="item">
                <p class="item-title">股票</p>
                <p class="item-content">一至两年</p>
                <a href="">修改</a>
            </div>
            <div class="item">
                <p class="item-title">结构性产品</p>
                <p class="item-content">一至两年</p>
                <a href="">修改</a>
            </div>
            <div class="item">
                <p class="item-title">外汇/黄金</p>
                <p class="item-content">一至两年</p>
                <a href="">修改</a>
            </div>
            <div class="item">
                <p class="item-title">认股证/股票期权</p>
                <p class="item-content">一至两年</p>
                <a href="">修改</a>
            </div>
            <div class="item">
                <p class="item-title">期货/期权</p>
                <p class="item-content">一至两年</p>
                <a href="">修改</a>
            </div>
            <div class="item">
                <p class="item-title">其他</p>
                <p class="item-content">一至两年</p>
                <a href="">修改</a>
            </div>
            <div class="hr"></div>
            <div class="item">
                <input class="confirm" type="checkbox">本人已经确认上述信息准确无误
            </div>
            <div class="btn submit-btn">提交</div>
        </div>
    </div>
</div>