<div wd-header></div>
<div wd-footer></div>
<div class="wd-register-box wd-experience">
    <div class="header">
        <p>
            <span class="title">财务及投资状况</span>
            <span class="des">依据监管机构香港证监会规定，需要您提供相关信息</span>
        </p>
    </div>
    <div class="body">
        <div class="body-content">
            <p class="title">财务状况</p>
            <div class="item">
                <p class="item-title">全年收入</p>
                <input name="a" type="radio">< 20 万
                <input name="a" type="radio">20 - 50 万
                <input name="a" type="radio">50 - 100 万
                <input name="a" type="radio">100 - 500 万
                <input name="a" type="radio">> 500 万
            </div>
            <div class="item">
                <p class="item-title">总资产净值</p>
                <input name="b" type="radio">< 50 万
                <input name="b" type="radio">50 - 250 万
                <input name="b" type="radio">250 - 500 万
                <input name="b" type="radio">> 500 万
            </div>
            <div class="item">
                <p class="item-title">投资知识</p>
                <input name="c" type="radio">全无
                <input name="c" type="radio">有限
                <input name="c" type="radio">较好
                <input name="c" type="radio">良好
            </div>
            <div class="item">
                <p class="item-title">投资目标</p>
                <input name="d" type="radio">增值
                <input name="d" type="radio">收入
                <input name="d" type="radio">投机
                <input name="d" type="radio">对冲
                <input name="d" type="radio">其他
            </div>
            <div class="item">
                <p class="item-title">月度交易频度</p>
                <input name="e" type="radio">0 - 5 次
                <input name="e" type="radio">5 - 20 次
                <input name="e" type="radio">20 次以上
            </div>
            <div class="item">
                <p class="item-title">风险承受能力</p>
                <input name="f" type="radio">低
                <input name="f" type="radio">中
                <input name="f" type="radio">高
            </div>
            <p class="title">投资经验</p>
            <div class="item">
                <p class="item-title">证券</p>
                <input name="g" type="radio">没有经验
                <input name="g" type="radio">有经验
            </div>
            <div class="item">
                <p class="item-title">基金</p>
                <input name="h" type="radio">没有经验
                <input name="h" type="radio">有经验
            </div>
            <div class="item">
                <p class="item-title">外汇</p>
                <input name="i" type="radio">没有经验
                <input name="i" type="radio">有经验
            </div>
            <div class="item">
                <p class="item-title">衍生产品</p>
                <input name="j" type="radio">没有经验
                <input name="j" type="radio">有经验
            </div>
            <div class="item">
                <p class="item-title">期货/期权</p>
                <input name="k" type="radio">没有经验
                <input name="k" type="radio">有经验
            </div>
            <div class="item">
                <p class="item-title">其他</p>
                <input name="l" type="radio">没有经验
                <input name="l" type="radio">有经验
            </div>
            <div class="btns">
                <div class="btn">下一步</div>
                <a class="prev-btn" href="">返回上一步</a>
            </div>
        </div>
    </div>
</div>