<div wd-header></div>
<div wd-footer></div>
<div class="wd-register-box wd-finish-register">
    <div class="header">
        <p>
            <span class="title">线下见证</span>
            <!-- <span class="des">请仔细确认您所录入的资料是否正确</span> -->
        </p>
    </div>
    <div class="body">
        <div class="body-content">
            <p>恭喜，您已经成功注册原子证券账户。</p>
            <p>完成线下见证即可开通真实交易，稍后我们的工作人员会与您联系确认相关事宜，请保持您的手机畅通。</p>
            <p>感谢您选择原子证券。</p>
            <p>您可以提前完成如下步骤，以便见证完成后即刻开始交易。</p>
            <div class="btns">
                <div class="btn">提前入金</div>
                <div class="btn">下载交易软件</div>
                <div class="btn">了解交易规则</div>
            </div>
        </div>
    </div>
</div>