<div wd-header></div>
<div class="wd-index" ng-keyDown="keyDown($event)">
    <div class="banner"></div>
    <div class="tips">
        <div class="block">
            <p class="title">老虎证券</p>
            <p>中国最大的提供美股、港股投资服务的互联网券商。</p>
        </div>
        <div class="block">
            <div class="btn">免费开户</div>
        </div>
        <div class="block">
            <p>加入老虎证券的用户</p>
            <p class="num">123123</p>
        </div>
        <div class="block">
            <p>已发生的交易金额</p>
            <p class="num">$12312312312</p>
        </div>
    </div>
    <div class="h2-title">
        <p><span class="flag"></span>热门个股</p>
    </div>
    <div class="hot-stock">
        <div class="block">
            <div class="stock-logo apple"></div>
        </div>
        <div class="block">
            <div class="stock-logo byd"></div>
        </div>
        <div class="block">
            <div class="stock-logo jinshan"></div>
        </div>
        <div class="block">
            <div class="stock-logo yidong"></div>
        </div>
    </div>
    <div class="intro-info">
        <div class="block">
            <div class="icon icon-safe"></div>
            <p>香港证监会认可的持牌法团</p>
        </div>
        <div class="block">
            <div class="icon icon-quality"></div>
            <p>覆盖各大平台，随时随地交易</p>
        </div>
        <div class="block">
            <div class="icon icon-cheap"></div>
            <p>无账户管理费，多种免佣金优惠</p>
        </div>
        <div class="block">
            <div class="icon icon-local"></div>
            <p>24X7 小时，本地化服务</p>
        </div>
    </div>
</div>
<div wd-footer></div>