<div class="wd-account-login wd-body">
    <div class="header">
        <div class="logo"></div>
    </div>
    <div class="form">
        <input type="text" placeholder="手机号码">
        <input type="password" placeholder="登录密码">
        <div class="btns">
            <div class="btn login-btn">登录</div>
            <a href="#/account-register" class="btn register-btn">注册</a>
        </div>
    </div>
    <div class="footer">
        <p>&copy;2014 Guoking.com.hk. All rights reserved.</p>
    </div>
</div>
