<!-- 
/**
 * @author wangxiao
 * 
 * 每位工程师都有保持代码优雅的义务
 * Each engineer has the duty to keep the code elegant
 */
 -->

<div wd-header></div>
<div class="wd-account-open wd-body">
    <div class="nav" ng-if="!loading">
        <div class="nav-header">
            <p>开户流程指引</p>
        </div>
        <div class="nav-body">
            <div class="item">
                <a ng-click="backToStep1();">填写表格</a>
            </div>
            <div class="item">
                <p>风险评估</p>
            </div>
            <div class="item">
                <p>完成见证</p>
            </div>
            <div class="item">
                <p>提交资料</p>
            </div>
            <div class="item">
                <p>开户成功</p>
            </div>
        </div>
    </div>
    <div ng-if="!loading" class="body" ng-class="{hide: step !== 1}">
        <p class="h2-title">填写开户表格</p>
        <div class="fill-form">
            <p class="form-title">交易范围</p>
            <div class="item">
                <p class="item-title">品种</p>
                <input type="checkbox" ng-model="userInfo.stock">证券
                <input type="checkbox" ng-model="userInfo.future">期货
            </div>
            <p class="form-title">基本资料</p>
            <div class="item">
                <p class="item-title">中文名</p>
                <input ng-class="{error: userInfo.uiRealNameError}" type="text" ng-model="userInfo.real_name" ng-blur="blurRealName();">
                <p class="error">{{userInfo.uiRealNameError}}</p>
            </div>
            <div class="item">
                <p class="item-title">身份证号码</p>
                <input ng-class="{error: userInfo.uiIdNoError}" type="text" ng-model="userInfo.id_no" ng-blur="blurIdNo();">
                <p class="error">{{userInfo.uiIdNoError}}</p>
            </div>
            <div class="item">
                <p class="item-title">签发机构</p>
                <input ng-class="{error: userInfo.uiIdOrgError}" type="text" wd-placeholder="身份证背面" ng-model="userInfo.id_org" ng-blur="blurIdOrg();">
                <p class="error">{{userInfo.uiIdOrgError}}</p>
            </div>
            <div class="item">
                <p class="item-title">住宅地址</p>
                <input ng-class="{error: userInfo.uiHomeAddressError}" type="text" wd-placeholder="请填写身份证上地址" ng-model="userInfo.home_address" ng-blur="blurHomeAddress();">
                <p class="error">{{userInfo.uiHomeAddressError}}</p>
            </div>
            <p class="form-title">联系方式</p>
            <div class="item">
                <p class="item-title">电子邮箱</p>
                <input ng-class="{error: userInfo.uiEmailError}" type="text" ng-model="userInfo.email" ng-blur="blurEmail();">
                <p class="error">{{userInfo.uiEmailError}}</p>
            </div>
            <div class="item">
                <p class="item-title">QQ 号码</p>
                <input ng-class="{error: userInfo.uiQqError}" type="text" ng-model="userInfo.qq" ng-blur="blurQq();">
                <p class="error">{{userInfo.uiQqError}}</p>
            </div>
            <div class="item">
                <p class="item-title">通信地址</p>
                <input ng-class="{error: userInfo.uiPostAddressError}" type="text" wd-placeholder="请填写身份证上地址" ng-model="userInfo.post_address" ng-blur="blurPostAddress();">
                <p class="error">{{userInfo.uiPostAddressError}}</p>
            </div>
            <p class="form-title">职业信息</p>
            <div class="item">
                <p class="item-title">类别</p>
                <input type="radio" ng-model="userInfo.job" value="1">受雇
                <input type="radio" ng-model="userInfo.job" value="2">自营
                <input type="radio" ng-model="userInfo.job" value="3">退休
                <input type="radio" ng-model="userInfo.job" value="4">待业
                <input type="radio" ng-model="userInfo.job" value="5">其他
            </div>
            <div class="item">
                <p class="item-title">工作单位</p>
                <input ng-class="{error: userInfo.uiCompanyError}" type="text" ng-model="userInfo.company" ng-blur="blurCompany();">
                <p class="error">{{userInfo.uiCompanyError}}</p>
            </div>            
            <div class="item">
                <p class="item-title">所属行业</p>
                <input ng-class="{error: userInfo.uiBusinessError}" type="text" ng-model="userInfo.business" ng-blur="blurBusiness();">
                <p class="error">{{userInfo.uiBusinessError}}</p>
            </div>
            <div class="item">
                <p class="item-title">工作电话</p>
                <input ng-class="{error: userInfo.uiWorkPhoneError}" type="text" ng-model="userInfo.work_phone" ng-blur="blurWorkPhone();" wd-placeholder="可填手机号码">
                <p class="error">{{userInfo.uiWorkPhoneError}}</p>
            </div>
            <div class="item">
                <p class="item-title">工作地址</p>
                <input ng-class="{error: userInfo.uiWorkAddressError}" type="text" ng-model="userInfo.work_address" ng-blur="blurWorkAddress();">
                <p class="error">{{userInfo.uiWorkAddressError}}</p>
            </div>
            <p class="error">{{userInfo.uiServerError}}</p>
        </div>
    </div>
    <div ng-if="!loading" class="body" ng-class="{hide: step !== 2}">
        <p class="h2-title">风险评估表</p>
        <div class="fill-form">
            <p class="form-title">财务及投资状况</p>
            <div class="item">
                <p class="item-title">资金来源</p>
                <input type="radio" ng-model="userInfo.money_source" value="1">薪资
                <input type="radio" ng-model="userInfo.money_source" value="2">存款
                <input type="radio" ng-model="userInfo.money_source" value="3">遗产/受赠
                <input type="radio" ng-model="userInfo.money_source" value="4">投资收益
            </div>
            <div class="item">
                <p class="item-title">全年收入</p>
                <input type="radio" ng-model="userInfo.year_income" value="1">小于 20 万
                <input type="radio" ng-model="userInfo.year_income" value="2">20-50 万
                <input type="radio" ng-model="userInfo.year_income" value="3">50-100 万
                <input type="radio" ng-model="userInfo.year_income" value="4">大于 100 万
            </div>
            <div class="item">
                <p class="item-title">总资产净值</p>
                <input type="radio" ng-model="userInfo.total_assets" value="1">小于 50 万
                <input type="radio" ng-model="userInfo.total_assets" value="2">50-250 万
                <input type="radio" ng-model="userInfo.total_assets" value="3">250-500 万
                <input type="radio" ng-model="userInfo.total_assets" value="4">大于 500 万
            </div>
            <div class="item">
                <p class="item-title">预计入金</p>
                <input type="radio" ng-model="userInfo.estimated_expenses" value="1">小于 20 万
                <input type="radio" ng-model="userInfo.estimated_expenses" value="2">20-50 万
                <input type="radio" ng-model="userInfo.estimated_expenses" value="3">50-100 万
                <input type="radio" ng-model="userInfo.estimated_expenses" value="4">大于 100 万
            </div>
            <div class="item">
                <p class="item-title">投资知识</p>
                <input type="radio" ng-model="userInfo.invest_knowledge" value="1">精通
                <input type="radio" ng-model="userInfo.invest_knowledge" value="2">良好
                <input type="radio" ng-model="userInfo.invest_knowledge" value="3">较好
                <input type="radio" ng-model="userInfo.invest_knowledge" value="4">有限
                <input type="radio" ng-model="userInfo.invest_knowledge" value="5">全无
            </div>
            <div class="item">
                <p class="item-title">投资目标</p>
                <input type="radio" ng-model="userInfo.invest_objective" value="1">增值
                <input type="radio" ng-model="userInfo.invest_objective" value="2">收入
                <input type="radio" ng-model="userInfo.invest_objective" value="3">投机
                <input type="radio" ng-model="userInfo.invest_objective" value="4">对冲
                <input type="radio" ng-model="userInfo.invest_objective" value="5">其他
            </div>
            <div class="item">
                <p class="item-title">风险承受能力</p>
                <input type="radio" ng-model="userInfo.risk_tolerance" value="1">高
                <input type="radio" ng-model="userInfo.risk_tolerance" value="2">中
                <input type="radio" ng-model="userInfo.risk_tolerance" value="3">低
            </div>
            <p class="form-title">投资经验</p>
            <div class="item">
                <p class="item-title">股票</p>
                <input type="radio" ng-model="userInfo.stock_exp" value="1">没有经验
                <input type="radio" ng-model="userInfo.stock_exp" value="2">少于 1 年
                <input type="radio" ng-model="userInfo.stock_exp" value="3">1-2 年
                <input type="radio" ng-model="userInfo.stock_exp" value="4">3 年以上
            </div>
            <div class="item">
                <p class="item-title">固定收益产品</p>
                <input type="radio" ng-model="userInfo.fixed_income_exp" value="1">没有经验
                <input type="radio" ng-model="userInfo.fixed_income_exp" value="2">少于 1 年
                <input type="radio" ng-model="userInfo.fixed_income_exp" value="3">1-2 年
                <input type="radio" ng-model="userInfo.fixed_income_exp" value="4">3 年以上
            </div>
            <div class="item">
                <p class="item-title">债券</p>
                <input type="radio" ng-model="userInfo.bond_exp" value="1">没有经验
                <input type="radio" ng-model="userInfo.bond_exp" value="2">少于 1 年
                <input type="radio" ng-model="userInfo.bond_exp" value="3">1-2 年
                <input type="radio" ng-model="userInfo.bond_exp" value="4">3 年以上
            </div>
            <div class="item">
                <p class="item-title">期货/期货期权</p>
                <input type="radio" ng-model="userInfo.future_exp" value="1">没有经验
                <input type="radio" ng-model="userInfo.future_exp" value="2">少于 1 年
                <input type="radio" ng-model="userInfo.future_exp" value="3">1-2 年
                <input type="radio" ng-model="userInfo.future_exp" value="4">3 年以上
            </div>
            <div class="item">
                <p class="item-title">外汇/贵金属</p>
                <input type="radio" ng-model="userInfo.forex_exp" value="1">没有经验
                <input type="radio" ng-model="userInfo.forex_exp" value="2">少于 1 年
                <input type="radio" ng-model="userInfo.forex_exp" value="3">1-2 年
                <input type="radio" ng-model="userInfo.forex_exp" value="4">3 年以上
            </div>
            <p class="form-title">其他资料披露</p>
            <div class="item">
                <p ng-if="userInfo.uiSelect1Error" class="error">请勾选确认</p>
                <input type="checkbox" ng-model="userInfo.uiSelect1">
                <p>本人是本账户的最终及唯一受益拥有人？</p>
            </div>
            <div class="item">
                <p ng-if="userInfo.uiSelect2Error" class="error">请勾选确认</p>
                <input type="checkbox" ng-model="userInfo.uiSelect2">
                <p>本人与国京(香港)证券与期货有限公司或其子公司及关联公司的董事或雇员没有任何关系？</p>
            </div>
            <div class="item">
                <p ng-if="userInfo.uiSelect3Error" class="error">请勾选确认</p>
                <input type="checkbox" ng-model="userInfo.uiSelect3">
                <p>本人不是香港证券及期货事务监察委员会注册持牌人 (或注册人)、任何持牌法团 (或注册机构) 的董事、雇员或认可人士？</p>
            </div>
            <div class="item">
                <p ng-if="userInfo.uiSelect4Error" class="error">请勾选确认</p>
                <input type="checkbox" ng-model="userInfo.uiSelect4">
                <p>您没有在国京(香港)证券与期货有限公司已开设由您或您代表他人、团体或公司实益持有、拥有或运作、或您拥有直接或间接利益的账户？</p>
            </div>
            <p class="form-title">请确认已阅读并同意以下条款细则</p>
            <div class="item">
                <p ng-if="userInfo.uiSelect5Error" class="error">请勾选确认</p>
                <input type="checkbox" ng-model="userInfo.uiSelect5">
                <p>我已阅读并同意
                    <a target="_blank" href="http://register.guoking.com.hk:8080/WebBusiness/gk_open/pdf/secret.pdf">隐私政策</a>
                </p>
            </div>
            <div class="item">
                <p ng-if="userInfo.uiSelect6Error" class="error">请勾选确认</p>
                <input type="checkbox" ng-model="userInfo.uiSelect6">
                <p>我已阅读并知悉
                    <a target="_blank" href="http://register.guoking.com.hk:8080/WebBusiness/gk_open/pdf/futures_risk.pdf">风险披露声明</a>、
                    <a target="_blank" href="http://register.guoking.com.hk:8080/WebBusiness/gk_open/pdf/stock_agrement.pdf">证券客户协议书</a>、
                    <a target="_blank" href="http://register.guoking.com.hk:8080/WebBusiness/gk_open/pdf/futures_agrement.pdf">期货客户协议书</a>
                </p>
            </div>
            <div class="item">
                <p ng-if="userInfo.uiSelect7Error" class="error">请勾选确认</p>
                <input type="checkbox" ng-model="userInfo.uiSelect7">
                <p>我已确认上述信息真实有效</p>
            </div>
        </div>
    </div>
    <div ng-if="!loading" class="body" ng-class="{hide: step !== 3}">
        <p class="h2-title">等待见证</p>
        <div class="success">
            <div class="icon-right"></div>
            <p class="strong">恭喜你开户成功</p>
            <p>后续我们的见证人员会直接与您取得联系，请保持电话畅通。</p>
            <p>您也可以直接</p>
            <p><a href="#/about-contact">联系我们</a></p>
        </div>
    </div>
    <div ng-if="!loading && step !== 3" class="toolbar">
        <div class="btns">
            <p ng-if="uiDraftSuccess" class="save-success strong">保存成功</p>
            <a ng-click="saveDraft()">保存草稿</a>
            <div class="btn submit-btn" ng-click="nextStep();">提交</div>
        </div>
    </div>
    <div ng-if="loading" wd-loading></div>
</div>
<div wd-footer></div>
