<div wd-header></div>
<div class="wd-account-register wd-body">
    <div class="h2-title" ng-class="{hide: loading}">
        <p>注册账号</p>
    </div>
    <div ng-if="!register.uiSuccess" class="form" ng-class="{hide: loading}">
        <div class="item">
            <p class="title">手机号码</p>
            <input type="text" ng-model="register.phone" 
            ng-focus="focusPhone();"
            ng-blur="blurPhone()">
            <div class="form-item-tips" 
            ng-class="{
                hide: !register.uiPhoneTip && !register.uiPhoneError,
                error: register.uiPhoneError
            }">
                <p>{{register.uiPhoneTip || register.uiPhoneError}}</p>
            </div>
        </div>
        <div class="item">
            <p class="title">短信验证码</p>
            <input class="auth-code-input" type="text" 
            ng-model="register.verify_code" 
            ng-focus="focusVerifyCode();"
            ng-blur="blurVerifyCode();">
            <div class="btn auth-code-btn">
                <p ng-if="!register.uiCountdown" ng-click="verifyPhone();">获取验证码</p>
                <p ng-if="register.uiCountdown">{{register.uiCountdown}}</p>
            </div>
            <div class="form-item-tips" 
            ng-class="{
                hide: !register.uiVerifyCodeTip && !register.uiVerifyCodeError,
                error: register.uiVerifyCodeError
            }">
                <p>{{register.uiVerifyCodeTip || register.uiVerifyCodeError}}</p>
            </div>
        </div>
        <div class="item">
            <p class="title">设置登录密码</p>
            <input type="text" ng-model="register.password" 
            ng-focus="focusPassword();"
            ng-blur="blurPassword();">
            <div class="form-item-tips" 
            ng-class="{
                hide: !register.uiPasswordTip && !register.uiPasswordError,
                error: register.uiPasswordError
            }">
                <p>{{register.uiPasswordTip || register.uiPasswordError}}</p>
            </div>
        </div>
        <div class="item">
            <p class="title">昵称</p>
            <input type="text" ng-model="register.nickName" 
            ng-focus="focusNickName();"
            ng-blur="blurNickName();">
            <div class="form-item-tips" 
            ng-class="{
                hide: !register.uiNickNameTip && !register.uiNickNameError,
                error: register.uiNickNameError
            }">
                <p>{{register.uiNickNameTip || register.uiNickNameError}}</p>
            </div>
        </div>
        <div class="item">
            <p class="title">邀请码</p>
            <input type="text" wd-placeholder="可选填" 
            ng-model="register.invite_code" 
            ng-focus="focusInviteCode();"
            ng-blur="blurInviteCode();">
            <div class="form-item-tips" 
            ng-class="{
                hide: !register.uiInviteCodeTip && !register.uiInviteCodeError,
                error: register.uiInviteCodeError
            }">
                <p>{{register.uiInviteCodeTip || register.uiInviteCodeError}}</p>
            </div>
        </div>
        <div class="btn register-btn" ng-click="registerAccount();">立即注册</div>
        <div class="ask">
            <input type="checkbox" checked="checked">
            <p>同意并遵守<a href="">隐私声明</a>和<a href="">服务条款</a></p>
        </div>
    </div>
    <div ng-if="register.uiSuccess" class="success">
        <p class="title">注册成功，你现在开通股票账户即可获得<span class="strong">三个月免费交易</span>。</p>
        <a href="#/account-open" class="btn">立即开户</a>
    </div>
    <div ng-if="loading" wd-loading></div>
</div>
<div wd-footer></div>