<div wd-header></div>
<div class="wd-account-register wd-body">
    <div class="h2-title" ng-if="!register.uiSuccess">
        <p>注册账号</p>
    </div>
    <div class="form" ng-if="!register.uiSuccess" >
        <input type="tel" 
        ng-model="register.phone" 
        ng-focus="focusPhone();"
        ng-blur="blurPhone()"
        placeholder="手机号码">
        <div class="form-item-tips" 
        ng-class="{
            hide: !register.uiPhoneTip && !register.uiPhoneError,
            error: register.uiPhoneError
        }">
            <p>{{register.uiPhoneTip || register.uiPhoneError}}</p>
        </div>
        <div class="item">
            <input class="auth-code-input" type="text" 
            ng-model="register.verify_code" 
            ng-focus="focusVerifyCode();"
            ng-blur="blurVerifyCode();"
            placeholder="短信验证码">
            <div class="btn auth-code-btn" ng-click="verifyPhone();"
            ng-class="{disabled: register.uiCountdown}">
                <p ng-if="!register.uiCountdown">获取验证码</p>
                <p ng-if="register.uiCountdown">{{register.uiCountdown}} 秒</p>
            </div>
        </div>
        <div class="form-item-tips" 
        ng-class="{
            hide: !register.uiVerifyCodeTip && !register.uiVerifyCodeError,
            error: register.uiVerifyCodeError
        }">
            <p>{{register.uiVerifyCodeTip || register.uiVerifyCodeError}}</p>
        </div>
        <input type="text" ng-model="register.password" 
        ng-focus="focusPassword();"
        ng-blur="blurPassword();"
        placeholder="设置登录密码">
        <div class="form-item-tips" 
        ng-class="{
            hide: !register.uiPasswordTip && !register.uiPasswordError,
            error: register.uiPasswordError
        }">
            <p>{{register.uiPasswordTip || register.uiPasswordError}}</p>
        </div>
        <p class="title"></p>
        <input type="tel"
        ng-model="register.invite_code" 
        ng-focus="focusInviteCode();"
        ng-blur="blurInviteCode();"
        placeholder="邀请码（选填）">
        <div class="form-item-tips" 
        ng-class="{
            hide: !register.uiInviteCodeTip && !register.uiInviteCodeError && !register.uiServerError,
            error: register.uiInviteCodeError || register.uiServerError
        }">
            <p>{{register.uiInviteCodeTip || register.uiInviteCodeError || register.uiServerError}}</p>
        </div>
        <div class="btn register-btn" ng-click="registerAccount();"
        ng-class="{disabled: !register.uiSelected}">立即注册</div>
        <div class="ask">
            <input type="checkbox" ng-model="register.uiSelected">
            <p>同意并遵守
                <a target="_blank" href="http://register.guoking.com.hk:8080/WebBusiness/gk_open/pdf/secret.pdf">隐私声明</a>
                <!-- 和<a href="">服务条款</a> -->
            </p>
        </div>
    </div>
    <div ng-if="register.uiSuccess" class="success">
        <p class="title">注册成功</p>
        <p>你现在开通股票账户</p>
        <p>即可获得<span class="strong">三个月免费交易</span></p>
        <a href="#/account-open" class="btn">立即开户</a>
    </div>
    <div ng-if="loading" wd-loading></div>
</div>
<div wd-footer></div>