<!-- 
/**
 * @author wangxiao
 * 
 * 每位工程师都有保持代码优雅的义务
 * Each engineer has a duty to keep the code elegant
 */
 -->

<div wd-header></div>
<div class="wd-about-company wd-body">
    <div wd-about-nav></div>
    <div class="wd-about-body">
        <p class="h2-title">公司概况</p>
        <div class="logo"></div>
        <p>国京(香港)证券与期货有限公司（以下简称“国京”）是获得香港证监会发牌的持牌法团，持有经营证券交易、期货交易的受规管业务牌照。</p>
        <p>凭靠优质的财政状况、内部管理运营能力，国京获香港联合交易所接纳为交易所参与者，并已建成一个庞大、完善、高效的一站式金融服务网络。 </p>
        <p>国京秉持「公平、合规、高效、道德」的经营理念，加强风险管理，完善现代公司治理机制，致力于构建华人社区互联网金融企业领导品牌，真诚服务于全球华人。国京公司设在国人最熟悉的、繁华的香港尖沙咀新港中心。</p>
        <p>国京(香港)证券与期货有限公司的核心管理团队源自中国大陆和香港，平均从业年限十余年，拥有丰富的中国本土银行、证券行业服务经验和管理阅历，曾成功组建和运营了国内某著名证券公司的香港证券经纪公司。</p>
    </div>
</div>
<div wd-footer></div>
