<!-- 
/**
 * @author wangxiao
 * 
 * 每位工程师都有保持代码优雅的义务
 * Each engineer has a duty to keep the code elegant
 */
 -->

<div wd-header></div>
<div class="wd-about-license wd-body">
    <div wd-about-nav></div>
    <div class="wd-about-body">
        <p class="h2-title">香港证监会颁发的证券及期货业务经营牌照</p>
        <div class="stock"></div>
        <p class="h2-title">香港联交所参与者证书</p>
        <div class="participants"></div>
        <p class="h2-title">公司注册证书</p>
        <div class="registration"></div>
        <p class="h2-title">商业登记证</p>
        <div class="business"></div>
    </div>
</div>
<div wd-footer></div>
