<!-- 
/**
 * @author wangxiao
 * 
 * 每位工程师都有保持代码优雅的义务
 * Each engineer has the duty to keep the code elegant
 */
 -->

<div wd-header></div>
<div class="wd-about-money wd-body">
    <div wd-about-nav></div>
    <div class="wd-about-body">
        <p class='h2-title'>一、国京香港证券业务标准收费</p>

        <!-- 这段是从国京官网直接 COPY 下来的 -->
        <table style="TEXT-ALIGN: center; BACKGROUND-COLOR: #ffffff; WIDTH: 100%; BORDER-COLLAPSE: collapse" border="1" cellspacing="0" bordercolor="#c0c0c0" cellpadding="3" align="center">
        <tbody>
        <tr>
        <td colspan="2"><strong><font style="COLOR: #000000">项目 </font></strong></td>
        <td colspan="2"><strong><font style="COLOR: #000000">国京</font></strong></td></tr>
        <tr>
        <td rowspan="5">
        <p><strong><font style="COLOR: #000000">股<br>票<br>交<br>易<br>拥<br>金 </font></strong></p></td>
        <td rowspan="2"><font style="COLOR: #000000">互联网交易佣金</font></td>
        <td colspan="2"><font style="COLOR: #000000">0.2%</font></td></tr>
        <tr>
        <td colspan="2"><font style="COLOR: #000000">最低收费100港币 </font></td></tr>
        <tr>
        <td rowspan="2"><font style="COLOR: #000000">电话/自动语音<br>交易佣金 </font></td>
        <td colspan="2"><font style="COLOR: #000000">0.2%</font></td></tr>
        <tr>
        <td colspan="2"><font style="COLOR: #000000">最低收费100港币</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">新股认购手续费 </font></td>
        <td colspan="2"><font style="COLOR: #000000">加收手续费100港币</font></td></tr>
        <tr>
        <td rowspan="6"><strong><font style="COLOR: #000000">政府、<br>交易所等<br>其它机构<br>收费</font></strong></td>
        <td><font style="COLOR: #000000">交易费 </font></td>
        <td colspan="2"><font style="COLOR: #000000">0.005%</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">交易征费 </font></td>
        <td colspan="2"><font style="COLOR: #000000">0.003%</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">交收费(中央结算费) </font></td>
        <td colspan="2"><font style="COLOR: #000000">0.002%，最低2港元，最高100港币</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">印花税 </font></td>
        <td colspan="2"><font style="COLOR: #000000">0.1%，不足1港币作1港币计算</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">托管费 </font></td>
        <td colspan="2"><font style="COLOR: #000000">免费</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">强制性<br>补购股份费 </font></td>
        <td colspan="2"><font style="COLOR: #000000">0.5%，另加每只股票$200港币</font></td></tr>
        <tr>
        <td rowspan="3"><strong><font style="COLOR: #000000">融资服务</font></strong></td>
        <td><font style="COLOR: #000000">融资认购新股 </font></td>
        <td colspan="2"><font style="COLOR: #000000">每次100港币，另加新股融资利息 </font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">保证金客户<br>借款利息 </font></td>
        <td colspan="2"><font style="COLOR: #000000">优惠利率+3%【优惠利率+8%(借贷高于市值)】 </font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">现金客户<br>过期交收利息 </font></td>
        <td colspan="2"><font style="COLOR: #000000">优惠利率+8%(借贷低于可按股票价值) </font></td></tr>
        <tr>
        <td rowspan="7"><strong><font style="COLOR: #000000">资金类<br>服务</font></strong></td>
        <td><font style="COLOR: #000000">资金股份调拨 </font></td>
        <td colspan="2"><font style="COLOR: #000000">免费</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">工银亚洲私人独立<br>存款账户 </font></td>
        <td colspan="2"><font style="COLOR: #000000">免费</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">退支票费用 </font></td>
        <td colspan="2"><font style="COLOR: #000000">每次200港币</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">本地银行转账提款 </font></td>
        <td colspan="2"><font style="COLOR: #000000">每次25港币</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">电汇(T/T)<br>至外地银行 </font></td>
        <td colspan="2"><font style="COLOR: #000000">每次25港币，另加银行收费 </font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">本地银行CHATS<br>转账提款 </font></td>
        <td colspan="2"><font style="COLOR: #000000">每次25港币，另加银行收费 </font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">币种兑换 </font></td>
        <td colspan="2"><font style="COLOR: #000000">每笔10港币</font></td></tr>
        <tr>
        <td rowspan="10"><strong><font style="COLOR: #000000">股票转托管、<br>实物股票<br>存取、<br>股份权益类<br>服务</font></strong></td>
        <td><font style="COLOR: #000000">存入实物股票 </font></td>
        <td colspan="2"><font style="COLOR: #000000">免费</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">提取实物股票 </font></td>
        <td colspan="2"><font style="COLOR: #000000">每手股票5港币, 另加每只股票600港币</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">转手纸印花税 </font></td>
        <td colspan="2"><font style="COLOR: #000000">每张5港币</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">股票转存(SI) </font></td>
        <td colspan="2"><font style="COLOR: #000000">免费</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">股票转出(SI) </font></td>
        <td colspan="2"><font style="COLOR: #000000">0.002%，最低及最高收费分别为2港币及100港币</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">经中央结算所投资者账户(ISI) </font></td>
        <td colspan="2"><font style="COLOR: #000000">存入免费<br>转出每项5港币</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">经中央结算所登记过户费 </font></td>
        <td colspan="2"><font style="COLOR: #000000">每手股票1.5港币 </font></td></tr>
        <tr>
        <td>
        <p>股票退回 </p></td>
        <td colspan="2"><font style="COLOR: #000000">每只股票50港币</font></td></tr>
        <tr>
        <td><span style="FONT-FAMILY: '宋体'; BACKGROUND: rgb(255,255,255); COLOR: rgb(0,0,0); FONT-SIZE: 9pt; mso-spacerun: 'yes'; mso-shading: rgb(255,255,255)">
        <p style="MARGIN-TOP: 0pt; MARGIN-BOTTOM: 0pt" class="p0"><font style="FONT-SIZE: 12pt"><span style="FONT-FAMILY: '宋体'; BACKGROUND: rgb(255,255,255); COLOR: rgb(0,0,0); FONT-SIZE: 12pt; mso-spacerun: 'yes'; mso-shading: rgb(255,255,255)">&nbsp;</span></font></p><font style="FONT-SIZE: 12pt">
        <p style="MARGIN-TOP: 0pt; MARGIN-BOTTOM: 0pt" class="p0"><span style="FONT-FAMILY: '微软雅黑'; BACKGROUND: rgb(255,255,255); COLOR: rgb(0,0,0); FONT-SIZE: 12pt; mso-spacerun: 'yes'; mso-shading: rgb(255,255,255)">现金</span><span style="FONT-FAMILY: '微软雅黑'; BACKGROUND: rgb(255,255,255); COLOR: rgb(0,0,0); FONT-SIZE: 12pt; mso-spacerun: 'yes'; mso-shading: rgb(255,255,255)">/公开/特别/有限制性收购</span></p>
        </font><p style="MARGIN-TOP: 0pt; MARGIN-BOTTOM: 0pt" class="p0"><font style="FONT-SIZE: 12pt"></font>&nbsp;</p></span></td>
        <td colspan="2"><span style="FONT-FAMILY: '瀹嬩綋'; BACKGROUND: rgb(255,255,255); COLOR: rgb(0,0,0); FONT-SIZE: 9pt; mso-spacerun: 'yes'; mso-shading: rgb(255,255,255)"><font style="FONT-SIZE: 12pt"><span style="FONT-FAMILY: '宋体'; BACKGROUND: rgb(255,255,255); COLOR: rgb(0,0,0); FONT-SIZE: 12pt; mso-spacerun: 'yes'; mso-shading: rgb(255,255,255)">
        <p style="LINE-HEIGHT: 0.5" class="p0"><span style="FONT-FAMILY: '微软雅黑'; FONT-SIZE: 12pt; mso-spacerun: 'yes'">收购总额的0.5%,&nbsp;最低收费HKD30(RMB25,USD4)。</span><span style="FONT-FAMILY: '微软雅黑'; FONT-SIZE: 12pt; mso-spacerun: 'yes'"><!--?xml:namespace prefix = o ns = "urn:schemas-microsoft-com:office:office" /--><o:p style="LINE-HEIGHT: 0.5"></o:p></span></p>
        <p style="LINE-HEIGHT: 0.5" class="p0"><span style="FONT-FAMILY: '微软雅黑'; FONT-SIZE: 12pt; mso-spacerun: 'yes'">另加香港结算公司行动服务费。每手0.8港元，最高10,000港元。</span><span style="FONT-FAMILY: '微软雅黑'; FONT-SIZE: 12pt; mso-spacerun: 'yes'"><o:p style="LINE-HEIGHT: 0.5"></o:p></span></p>
        </span></font><p style="LINE-HEIGHT: 0.5" class="p0"><font style="FONT-SIZE: 12pt"><span style="FONT-FAMILY: '微软雅黑'; FONT-SIZE: 12pt; mso-spacerun: 'yes'">不足一手以一手计算，碎股亦视作一手。</span></font></p></span></td></tr>
        <tr>
        <td><font style="COLOR: #000000">股份转名</font></td>
        <td>每手股票7.5港币，最低收费50港币&nbsp;</td></tr>
        <tr>
        <td rowspan="6"><font style="COLOR: #000000"><strong>代理服务</strong> </font></td>
        <td><font style="COLOR: #000000">代申请额外供股 </font></td>
        <td colspan="2"><font style="COLOR: #000000">每手2港币，最低收费50港币 </font></td></tr>
        <tr>
        <td>代收股息/以股代息</td>
        <td colspan="2">股息总额的0.5%，最低30港币</td></tr>
        <tr>
        <td><font style="COLOR: #000000">代收红股</font></td>
        <td colspan="2"><font style="COLOR: #000000">每手1港币，另加手续费30港币，另加交易所收费</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">代收供股权</font></td>
        <td colspan="2">免费</td></tr>
        <tr>
        <td>代行使供股权/认股</td>
        <td colspan="2">每手股票2港币，最低50港币</td></tr>
        <tr>
        <td><font style="COLOR: #000000">代索回未领取股息 </font></td>
        <td colspan="2"><font style="COLOR: #000000">每单500及每期股息金额的0.5%，最低20港币 </font></td></tr>
        <tr>
        <td rowspan="2"><font style="COLOR: #000000"><strong>账户类服务</strong> </font></td>
        <td><font style="COLOR: #000000">网上交易平台串流报价服务 </font></td>
        <td colspan="2"><font style="COLOR: #000000"></font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">综合日/月结单重印</font></td>
        <td colspan="2">
        <p><font style="COLOR: #000000">每份50港币+港币邮费</font></p></td></tr></tbody></table>
        <!-- 这段是从国京官网直接 COPY 下来的 end -->

        <p class='h2-title'>二、环球期货相关收费</p>

        <!-- 这段是从国京官网直接 COPY 下来的 -->
        <table style="TEXT-ALIGN: center; BACKGROUND-COLOR: #ffffff; WIDTH: 100%; BORDER-COLLAPSE: collapse" border="1" cellspacing="0" bordercolor="#c0c0c0" cellpadding="3" align="center">
        <tbody>
        <tr>
        <td><font style="COLOR: #000000"></font></td>
        <td><strong><font style="COLOR: #000000">交易所 </font></strong></td>
        <td><strong><font style="COLOR: #000000">代号 </font></strong></td>
        <td><strong><font style="COLOR: #000000">货币 </font></strong></td>
        <td><strong><font style="COLOR: #000000">国京</font></strong></td></tr>
        <tr>
        <td colspan="4"><strong><font style="COLOR: #000000">指数期货合约 </font></strong></td>
        <td><strong><font style="COLOR: #000000">即日/非即日</font></strong></td></tr>
        <tr>
        <td><font style="COLOR: #000000">小型标准普尔500</font></td>
        <td><font style="COLOR: #000000">CME</font></td>
        <td><font style="COLOR: #000000">ES </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">小型纳斯达克100指数 </font></td>
        <td><font style="COLOR: #000000">CME</font></td>
        <td><font style="COLOR: #000000">NQ </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">小型道琼斯指数($5) </font></td>
        <td><font style="COLOR: #000000">CBOT</font></td>
        <td><font style="COLOR: #000000">YM </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">美元指数 </font></td>
        <td><font style="COLOR: #000000">NYBOT</font></td>
        <td><font style="COLOR: #000000">DX </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td colspan="4"><font style="COLOR: #000000"><strong>外汇期货合约</strong> </font></td>
        <td><font style="COLOR: #000000"></font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">澳元 </font></td>
        <td><font style="COLOR: #000000">CME</font></td>
        <td><font style="COLOR: #000000">6A </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">微澳元/美元 </font></td>
        <td><font style="COLOR: #000000">CME</font></td>
        <td><font style="COLOR: #000000">M6A </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">英镑 </font></td>
        <td><font style="COLOR: #000000">CME</font></td>
        <td><font style="COLOR: #000000">6B </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">加拿大元 </font></td>
        <td><font style="COLOR: #000000">CME</font></td>
        <td><font style="COLOR: #000000">6C </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">欧元 </font></td>
        <td><font style="COLOR: #000000">CME</font></td>
        <td><font style="COLOR: #000000">6E </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">微欧元/美元 </font></td>
        <td><font style="COLOR: #000000">CME</font></td>
        <td><font style="COLOR: #000000">M6E </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">瑞士法郎 </font></td>
        <td><font style="COLOR: #000000">CME</font></td>
        <td><font style="COLOR: #000000">6S </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">日圆 </font></td>
        <td><font style="COLOR: #000000">CME</font></td>
        <td><font style="COLOR: #000000">6J </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">纽西兰元 </font></td>
        <td><font style="COLOR: #000000">CME</font></td>
        <td><font style="COLOR: #000000">6N </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td colspan="4"><strong><font style="COLOR: #000000">金属及能源期货合约</font></strong></td>
        <td><font style="COLOR: #000000"></font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">期金 </font></td>
        <td><font style="COLOR: #000000">CME</font></td>
        <td><font style="COLOR: #000000">GC </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">期银 </font></td>
        <td><font style="COLOR: #000000">CME</font></td>
        <td><font style="COLOR: #000000">SI </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">期铜 </font></td>
        <td><font style="COLOR: #000000">CME</font></td>
        <td><font style="COLOR: #000000">HG </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">白金 </font></td>
        <td><font style="COLOR: #000000">CME</font></td>
        <td><font style="COLOR: #000000">PL </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">期钯 </font></td>
        <td><font style="COLOR: #000000">CME</font></td>
        <td><font style="COLOR: #000000">PA </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">小型纽约期油 </font></td>
        <td><font style="COLOR: #000000">NYBOT</font></td>
        <td><font style="COLOR: #000000">QM </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">原油 </font></td>
        <td><font style="COLOR: #000000">NYBOT</font></td>
        <td><font style="COLOR: #000000">CL </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">铝 </font></td>
        <td><font style="COLOR: #000000">SGX</font></td>
        <td><font style="COLOR: #000000">SDAL </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">铜 </font></td>
        <td><font style="COLOR: #000000">SGX</font></td>
        <td><font style="COLOR: #000000">SDCU </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">锌 </font></td>
        <td><font style="COLOR: #000000">SGX </font></td>
        <td><font style="COLOR: #000000">SDZN </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">天然气 </font></td>
        <td><font style="COLOR: #000000">NYMEX</font></td>
        <td><font style="COLOR: #000000">NG</font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">汽油 </font></td>
        <td><font style="COLOR: #000000">NYMEX</font></td>
        <td><font style="COLOR: #000000">RB </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">取暖油 </font></td>
        <td><font style="COLOR: #000000">NYMEX</font></td>
        <td><font style="COLOR: #000000">HO </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td colspan="4"><strong><font style="COLOR: #000000">农产品期货合约</font></strong></td>
        <td><font style="COLOR: #000000"></font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">玉米</font></td>
        <td><font style="COLOR: #000000">CBOT </font></td>
        <td><font style="COLOR: #000000">ZC </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">黄豆</font></td>
        <td><font style="COLOR: #000000">CBOT </font></td>
        <td><font style="COLOR: #000000">ZS </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">黄豆油</font></td>
        <td><font style="COLOR: #000000">CBOT </font></td>
        <td><font style="COLOR: #000000">ZL</font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">黄豆粉 </font></td>
        <td><font style="COLOR: #000000">CBOT </font></td>
        <td><font style="COLOR: #000000">ZM</font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">小麦</font></td>
        <td><font style="COLOR: #000000">CBOT </font></td>
        <td><font style="COLOR: #000000">ZW </font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">棉花</font></td>
        <td><font style="COLOR: #000000">NYBOT </font></td>
        <td><font style="COLOR: #000000">CT</font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">燕麦 </font></td>
        <td><font style="COLOR: #000000">CBOT </font></td>
        <td><font style="COLOR: #000000">ZO</font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">粗米</font></td>
        <td><font style="COLOR: #000000">CBOT </font></td>
        <td><font style="COLOR: #000000">ZR</font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td colspan="4"><font style="COLOR: #000000"><strong>食品期货合约</strong> </font></td>
        <td><font style="COLOR: #000000"></font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">糖# 11 </font></td>
        <td><font style="COLOR: #000000">NYBOT </font></td>
        <td><font style="COLOR: #000000">SB</font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">可可 </font></td>
        <td><font style="COLOR: #000000">NYBOT </font></td>
        <td><font style="COLOR: #000000">CC</font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">咖啡 </font></td>
        <td><font style="COLOR: #000000">NYBOT </font></td>
        <td><font style="COLOR: #000000">KC</font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">橙汁 </font></td>
        <td><font style="COLOR: #000000">NYBOT </font></td>
        <td><font style="COLOR: #000000">OJ</font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">20</font></td></tr>
        <tr>
        <td colspan="4"><strong><font style="COLOR: #000000">伦敦金属交易所合约</font></strong></td>
        <td><font style="COLOR: #000000"></font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">铜 </font></td>
        <td><font style="COLOR: #000000">LME </font></td>
        <td><font style="COLOR: #000000">LAH</font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">面议</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">铝 </font></td>
        <td><font style="COLOR: #000000">LME </font></td>
        <td><font style="COLOR: #000000">LCA</font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">面议 </font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">铅 </font></td>
        <td><font style="COLOR: #000000">LME </font></td>
        <td><font style="COLOR: #000000">LPB</font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">面议</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">镍 </font></td>
        <td><font style="COLOR: #000000">LME </font></td>
        <td><font style="COLOR: #000000">LNI</font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">面议</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">锡 </font></td>
        <td><font style="COLOR: #000000">LME </font></td>
        <td><font style="COLOR: #000000">LSN</font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">面议</font></td></tr>
        <tr>
        <td><font style="COLOR: #000000">锌 </font></td>
        <td><font style="COLOR: #000000">LME </font></td>
        <td><font style="COLOR: #000000">LZS</font></td>
        <td><font style="COLOR: #000000">美元 </font></td>
        <td><font style="COLOR: #000000">面议</font></td></tr></tbody></table>        
        <!-- 这段是从国京官网直接 COPY 下来的 end -->

    </div>
</div>
<div wd-footer></div>
