/**
 * @author wangxiao
 * 
 * 每位工程师都有保持代码优雅的义务
 * each engineer has a duty to keep the code elegant
 */

.wd-index {
    min-width: $min-page-width;
    background-color: $standard-gray;
    .banner {
        height: 300px;
        @include wd-image('index-banner.jpg');
        width: 100%;
    }
    .intro-info {
        height: 220px;
        padding: 18px 20px 20px 20px;
        .block {
            border-radius: 2px;
            position: relative;
            @include box-shadow(0px 1px 3px #c8c8c8);
            padding-top: 21px;
            cursor: pointer;
            display: inline-block;
            width: 24%;
            height: 190px;
            text-align: center;
            background-color: $standard-white;
            @include opacity(0.6);
            .title {
                font-size: 20px;
                line-height: 30px;
                height: 40px;
                color: $standard-black;
            }
            .icon {
                display: inline-block;
            }
            @include transition(opacity, 0.8s);
            &:hover {
                @include opacity(1);
            }
            .link {
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
            }
            p {
                line-height: 0px;
                color: $standard-deep-gray;
            }
            .icon-safe {
                @include wd-image('icon-lock.png');
            }
            .icon-quality {
                @include wd-image('icon-computer.png');
            }
            .icon-cheap {
                @include wd-image('icon-money.png');
            }
            .icon-local {
                @include wd-image('icon-local.png');
            }
        }
    }
}
