<div class="wd-footer">
    <div class="wd-wrapper">
        <div class="left">
            <div class="block">
                <p class="title">国京证券</p>
                <a href="#/about-money">服务与收费</a>
                <a href="#/download">交易工具</a>
                <a href="#/about-contact">联系我们</a>
                <a href="#/account-open">免费开户</a>
            </div>
            <div class="block">
                <p class="title">条款声明</p>
                <a target="_blank" href="http://register.guoking.com.hk:8080/WebBusiness/gk_open/pdf/secret.pdf">隐私声明</a>
                <a target="_blank" href="http://register.guoking.com.hk:8080/WebBusiness/gk_open/pdf/stock_agrement.pdf">证券客户协议书</a>
                <a target="_blank" href="http://register.guoking.com.hk:8080/WebBusiness/gk_open/pdf/futures_agrement.pdf">期货客户协议书</a>
            </div>
        </div>
        <div class="right">
            <p class="title"><i class="icon-phone"></i>400-150-0852</p>
            <p>客服时间：9:00 - 17:30（北京时间）</p>
            <a target="_blank" herf="http://chat16.live800.com/live800/chatClient/chatbox.jsp?companyID=290078&configID=51144&jid=9063898172&enterurl=%E5%9B%BD%E4%BA%AC%E8%AF%81%E5%88%B8%E4%B8%8E%E6%9C%9F%E8%B4%A7" class="btn online-btn"><i class="icon-sms"></i>在线咨询</a>
        </div>
        <div class="bottom-tips">
            <p>国京证券为香港证监会认可的持牌法团（<a href="">中央编号：AZT137</a>），提供证券交易服务并受其监管。</p>
            <p>&copy;2014 国京证券(香港)有限公司 版权所有. <a href="">粤ICP备08108712号-2</a></p>
        </div>
    </div>
</div>
