<div wd-header></div>
<div class="wd-my-change-password wd-body">
    <div ng-if="!loading" wd-my-nav></div>
    <div ng-if="!loading" class="wd-my-body">
        <p ng-if="isLogin" class="h2-title">修改密码</p>
        <p ng-if="!isLogin" class="h2-title">找回密码</p>
        <div ng-if="!isLogin" class="item">
            <p class="title">手机号码</p>
            <input type="text">
        </div>
        <div ng-if="!isLogin" class="item">
            <p class="title">短信验证码</p>
            <input class="code-input" type="password">
            <div class="btn auth-code-btn">
                <p ng-if="!uiCountdown" ng-click="verifyPhone();">获取验证码</p>
                <p ng-if="uiCountdown">{{uiCountdown}} 秒</p>
            </div>
        </div>
        <div ng-if="isLogin" class="item">
            <p class="title">原始密码</p>
            <input type="password">
        </div>
        <div ng-if="!isLogin" class="item">
            <p class="title">身份证号码</p>
            <input type="password">
        </div>
        <div class="item">
            <p class="title">新密码</p>
            <input type="text">
        </div>
        <div class="btn change-password-btn">
            <span ng-if="isLogin">修改密码</span>
            <span ng-if="!isLogin">找回密码</span>
        </div>
    </div>
    <div ng-if="loading" wd-loading></div>
</div>
<div wd-footer></div>
