<div wd-header></div>
<div class="wd-my-change-password wd-body">
    <div ng-if="!loading" wd-my-nav></div>
    <div ng-if="!loading" class="wd-my-body">
        <p ng-if="isLogin" class="h2-title">修改密码</p>
        <p ng-if="!isLogin" class="h2-title">找回密码</p>
        <div ng-if="!isLogin" class="item">
            <p class="title">手机号码</p>
            <input type="text" 
            ng-blur="checkPhone()" 
            ng-model="userInfo.phone"
            ng-focus="userInfo.uiPhoneError = '';">
            <p class="error">{{userInfo.uiPhoneError}}</p>
        </div>
        <div ng-if="!isLogin" class="item">
            <p class="title">短信验证码</p>
            <input class="code-input" type="text" ng-model="userInfo.code"
            ng-focus="userInfo.uiCodeError = '';"
            ng-blur="checkVerifyCode()">
            <div class="btn auth-code-btn">
                <p ng-if="!uiCountdown" ng-click="verifyPhone();">获取验证码</p>
                <p ng-if="uiCountdown">{{uiCountdown}} 秒</p>
            </div>
            <p class="error">{{userInfo.uiCodeError}}</p>
        </div>
        <div ng-if="isLogin" class="item">
            <p class="title">原始密码</p>
            <input type="password" ng-model="userInfo.pwd" ng-blur="checkPassword()" ng-focus="userInfo.uiPwdError = '';">
            <p class="error">{{userInfo.uiPwdError}}</p>
        </div>
        <div ng-if="!isLogin" class="item">
            <p class="title">身份证号码</p>
            <input type="password" ng-model="userInfo.id_no" ng-blur="checkIdNo()" ng-focus="userInfo.uiIdNoError = '';">
            <p class="error">{{userInfo.uiIdNoError}}</p>
        </div>
        <div class="item">
            <p class="title">新密码</p>
            <input type="text" ng-model="userInfo.new_pwd" ng-blur="checkNewPassword()" ng-focus="userInfo.uiNewPwdError = '';">
            <p class="error">{{userInfo.uiNewPwdError}}</p>
        </div>
        <div class="btn change-password-btn">
            <span ng-if="isLogin" ng-click="changePassword()">修改密码</span>
            <span ng-if="!isLogin" ng-click="findPassword()">找回密码</span>
        </div>
    </div>
    <div ng-if="loading" wd-loading></div>
</div>
<div wd-footer></div>
